.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  min-height: 100vh;
  padding: 100px 0 120px;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;

  margin: 0 auto 80px;
  text-align: center;
}

.reservation__form {
  margin: 0 auto;
}
